<html>

	<head>
		<title>
		 	Go-Backend Generator
		</title>

		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" type="text/css" href="markup/styles/home.css">
		<link rel="stylesheet" href="markup/styles/font-awesome/css/font-awesome.min.css">
		<link rel="shortcut icon" href="markup/styles/favicon.ico"/>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="markup/js/notify.min.js"></script>

		<style type="text/css">
			.group{
				display: none;
			}
			.object{
				display: none;
			}
		</style>

	</head>

	<body>

		<nav-bar>
			<nav-left>
				<a href="/"> Go-Backend Generator </a>
			</nav-left>

			<nav-right>
				
				<a href="#" class="navLinks">DOCS</a>
				<a href="#" class="navLinks">DEVELOPERS</a>
				<a href="#" class="navLinks">ABOUT</a>|
				<div class="floatRight loginBox">
				{{if .Session.AuthToken}}
					<a href="#" class="navLinks toggleUserBox">Welcome {{.Session.Username}}</a>
					<a href="#" id="signOut" class="normallink f13"> (Logout) </a>

				{{else}}
					<a href="#" class="navLinks toggleLoginBox">LOGIN / SIGN UP</a>

					<div class="loginInputs">
						<input type="text" id="username" name="username" placeholder="Username">
						<input type="password" id="password" name="password" placeholder="Password"><br><br>
						<a href="#" class="f11 normallink">Forgot Password ?</a>
						<button type="submit" class="f13" id="login">Login</button>
						<hr>
						<div class="f13">New User ?</div>
						<button type="signup" class="f13">Sign Up</button>
					</div>
				{{end}}

				</div>
			</nav-right>
		</nav-bar>
		<!-- <form method="POST" id="makeForm"> -->
		<div class="content">
			

			<div class="subBox1">
				<div class="box1" id="router1">
					<div class="heading">Basics 
						<div class="dropdown floatRight">
							<div class="f11 grey roundBorder dropMenu dropbtn" routerNumber = "1">
								<i class="fa fa-chevron-down floatRight down_arrow" aria-hidden="true"></i>
								Router 1 
								
							</div>
							<div class="dropdowncontent">
	    						<a href="#Lock" class="f11 grey lock" routerNumber = "1">Lock Parameters</a>
	  						</div>
	  					</div>
					</div>

					<div class="opt2">
						
						What happens when this route is called :<br><br>

						<select name="action" id="action1" class="action" routerNumber = "1">
							<option value="1option1">
								Serve HTML ( Template )
							</option>
							<option value="1option2">
								Serve Static Files (CSS/JS)
							</option>
							<option value="1option3"> 
								Fetch Data from Database (MongoDB / MySQL)
							</option>
							<option value="1option4"> 
								Insert Data into Database (MongoDB / MySQL)
							</option>
							<option value="1option5"> 
								Update Data in Database (MongoDB / MySQL)
							</option>
							<option value="1option6"> 
								Delete Data from Database (MongoDB / MySQL)
							</option>
							<option value="1option7"> 
								Generate REST APIs
							</option>
							<option value="1option8">
								Accept Form Data
							</option>
						</select>
					</div>	
					<div class="opt1 urlBlock1">
						<input type="text" id="url" name="url" placeholder="Router URL (eg: /yourRoute/:user/:data/ ) " required>
					</div>
					
					<div class="opt1">
						
						HTTP Method :
						<select name="method" id="method">
							<option value="GET">
								GET
							</option>
							<option value="POST">
								POST
							</option>
							<option value="PUT"> 
								PUT
							</option>
							<option value="DELETE">
								DELETE
							</option>
						</select>

					</div>
									
				</div>


				<div class="box1 group1" id="1option1">
					<div class="heading" >Serve HTML 
						<div class="floatRight f11 grey roundBorder dropMenu" routerNumber = "1">
							Router 1 
						</div>

						</div>

					<div class="opt1">
						<input type="text" name="pathToHTML" placeholder="Path to HTML file (w.r.t local Directory)" id="pathToHTML" required>
					</div>

					<p class="normal">
						Enclose Object in Template : <input type="checkbox" name="object" value="object" id="object"><br>
						<small>(Leave unchecked for static HTML Pages)</small>
					</p>

					<p class="normal object">
						Select Object : 

						<select name="objectSelect" id="objectSelect">
							<option value="option1">
								User
							</option>
							<option value="option2">
								Foo
							</option>
							<option value="option3"> 
								Bar
							</option>
							
						</select>
						
					</p>

					
				</div>


				<div class="box1 group1" id="1option2">
					<div class="heading" >Serve Static Files (CSS/JS) 
						<div class="floatRight f11 grey roundBorder dropMenu" routerNumber = "1">
							Router 1 
						</div>

					</div>
					<div class="opt1">
						
						<input type="text" name="pathToCSS" placeholder="Path to CSS/JS files (w.r.t local Directory)" id="pathToCSS" required>
						<small>(eg: /static/styles/)</small>

					</div>
				</div>


				<div class="box1 group1" id="1option3">
					<div class="heading" >Save Data To Database 
						<div class="floatRight f11 grey roundBorder dropMenu" routerNumber = "1">
							Router 1 
						</div>

					</div>

				</div>

				<div class="box1 group1 lastBox" id="1option4">
					<div class="heading"  >Accept Form Data 
						<div class="floatRight f11 grey roundBorder dropMenu" routerNumber = "1">
							Router 1 
						</div>

					</div>

				</div>
				<div class="Fullbox" >
					<button class="button floatLeft f15" id="addRouter"><i class="fa fa-plus" aria-hidden="true"></i> ADD ROUTER</button>	
					<button class="button floatLeft f15" id="submit">GENERATE
					<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
					</button>
				</div>
			</div>
			<div class="subBox2" id="codeBox">
				<div class="Fullbox" >
					<div class="heading" >Code</div>
					<div class="code" id="result">//Code for Backend<br><br>
					//Fill in the parameters <br>
					//as per your requirements<br>
					//then click on Generate</div>
				</div>
			</div>
			{{if .Session.AuthToken}}
			<div class="box1 objectBox">
				<div class="Fullbox objectBoxInner" >
					<div class="heading" >Objects Defined by You</div>
					{{range .ObjectList}} 
					<div class="objectName normal">
						{{.ObjectName}} <details> {
						<ul>
						
						{{range .KeyValArray}}
							<div class="normal">
								{{.Field}}  {{.Type}} ,
							</div>
						{{end}} 
						
						</ul>
						}
						</details>
					</div>
					{{end}}
					<button class="button floatLeft f15" id="addObject"><i class="fa fa-plus" aria-hidden="true"></i> DEFINE NEW OBJECT</button>
				</div>
			</div>
			{{end}}
			
			
		</div>

		

		<!-- </form> -->
		<script type="text/javascript" src="markup/js/showBox.js"></script>
		<script type="text/javascript" src="markup/js/events.js"></script>
		<script type="text/javascript" src="markup/js/auth.js"></script>

	</body>

</html>