@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
	margin:0;
	background: #fff;
}



nav-bar{
	
	width:100%;
	height: auto;

	font-family: 'Quicksand', sans-serif;

	background: #fff;
	


}

nav-left{
	float:left;
	margin:15px;

}

nav-left a{

	color:#000;
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	text-align: center;

	text-decoration: none;
}	


nav-right{
	
	float:right;
	margin:25px;

}


.navLinks{

	color:#999;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	border:1px solid transparent;

	background:transparent;

	margin:10px;
	padding:10px;
}


.navLinks:hover{
	color:#000;
	//background:#555;
	border:1px solid #000;
}

.content{

	width:100%;
	height:auto;
	display: -webkit-flex;
    -webkit-flex-wrap: wrap; 
    display: flex;   
    flex-wrap: wrap;
    border-top:#ccc solid 1px;
}

.subBox1{
	width:62%;
	height:auto;
	display: -webkit-flex;
    -webkit-flex-wrap: wrap; 
    display: flex;   
    flex-wrap: wrap;

    border-right:1px solid #ccc;
}

.subBox2{
	width:35%;
	min-width: 25%;
	max-width: 35%;
	height:300px;
	display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}


.box1{
	margin:20px;
	height:auto;
	width:380px;
	
	min-width: 300px;	
}


.Fullbox{
	margin:20px;
	height:auto;
	width:100%;

}
.heading{
	font-family:'Quicksand', sans-serif;
	color:#000;
	font-size:22px;
	text-align: left;

	border-bottom:1px solid #ccc;
}

.opt1{

	margin:20px;
	width:250px;
	height:30px;

	font-family:'Quicksand', sans-serif;
	color:#444;
	font-size:15px;
}

.opt2{

	margin:20px;
	width:90%;

	font-family:'Quicksand', sans-serif;
	color:#444;
	font-size:15px;

}


.opt1 input{
	width:100%;
	height:100%;
	padding:5px;
}

.button{
	margin:30px;
	padding-top:7px;
	padding-bottom:7px;
	padding-left:12px;
	padding-right:12px;

	background:#FFF;
	font-family:'Quicksand', sans-serif;
	color:#000;

	height:35px;

	border-radius:2px;
	border:none;

	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


.normal{
	font-family:'Quicksand', sans-serif;
	color:#444;
	font-size:15px;
}

.floatRight{
	float:right;
}
.floatLeft{
	float:left;
}


.code{
	margin:15px;
	padding:15px;

	font-family: 'Source Code Pro', monospace;
	font-size: 13px;
	color:#000;
	word-wrap: break-word;
	background:#ebeced;
}

.f9{
	font-size: 9px;
}
.f11{
	font-size: 11px;
}
.f13{
	font-size: 13px;
}
.f15{
	font-size: 15px;
}
.f17{
	font-size: 17px;
}
.f22{
	font-size: 22px;
}
.f30{
	font-size: 30px;
}

.roundBorder{
	border:1px solid #777;
	border-radius:3px;

	padding:2px;
}

.down_arrow{
	margin-left:15px;
	margin-top:1px;
	margin-right:5px;
	
}	

.grey{
	color:#777;
}

.dropMenu{
	background: transparent;
}

.dropMenu:hover{
	background: #777;
	color:#fff;
}


.dropbtn {
    cursor: pointer;
}

.dropdowncontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -1;
}

.dropdowncontent a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdowncontent a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdowncontent {
    display: block;
    z-index: 1;
}
.dropdown:hover .dropMenu {
    background: #777;
	color:#fff;
}

.dropdown{
	display: inline-block;
}

.metaButton{
	background: transparent;
}

.metaButton:hover{
	background: #777;
	color:#fff;
}


.loginBox{
	display: inline-block;
}

.loginInputs{
	display: none;
	background: #ddd;
	padding:10px;
	margin-top:20px;
	margin-right:20px;
	position: absolute;
	width:auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.loginInputs input{
	padding:5px;
	width:100%;
	height:30px;
	margin-top:10px;
}

.loginInputs button{
	padding:5px;
	width:100%;
	margin-top:10px;
	border:none;
	border-radius: 5px;
	background: #fff;
	background:#FFF;
	font-family:'Quicksand', sans-serif;
	color:#000;

	height:30px;

	border-radius:2px;
	border:none;

	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.normallink{
	text-decoration: none;
	color:#000;
}

.normallink:hover{
	text-decoration: underline;
}